<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Schedule for {{ person.name }}</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
  <h1>{{ person.name }}</h1>

%% for day in schedule:
  <h2>{{ day.date }}</h2>
  <table>
    <thead><tr><th>Day {{ day.number + 1 }}</th><th>Location</th><th>Name</th></tr></thead>
    <tbody>
%%  for timeslot in day.timeslots:
%%    if (timeslot.events + timeslot.meetings) | length == 0:
        <tr><th>{{ timeslot.time }}</th><td></td><td></td></tr>
%%    endif
%%    for event in (timeslot.meetings + timeslot.events):
        <tr>
## If this is the first event in the timeslot, then print the time
            <th>{% if loop.index == 1 %}{{ timeslot.time }}{% endif %}</th>
            <td>{{ event.location }}</td>
%%          if event.is_meeting:
            <td>
              <b>Meeting: </b>
%%              if person.role == "host":
%%                for visitor in event.visitors:
                    <a href="https://applygrad.cs.cmu.edu/admin/index.php?viewApplication={{ visitor.data.id }}&viewDepartment=1">{{ visitor.name }}</a>
%%                endfor
%%              else:
%%                if event.host.data.website:
                      <a href="{event.host.data.website}">{{ event.host.name }}</a>
%%                else:
                    {{ event.host.name }}
%%                endif
## If the meeting is combined, mention that but don't include the name of the other user
                  {% if event.visitors | length > 1 %}(combined meeting){% endif %}
%%               endif
              </td>
%%           else:
              <td>{{ event.name }}</td>
%%           endif
          </tr>
%%       endfor
%%     endfor
    </tbody></table>
%% endfor

## Print unsatisfied meeting excuses, if this is the schedule for a student.
%% if (person.role == "visitor") and (unsatisfied_requests | length > 0)
    <h3>Unsatisfied meeting requests:</h3>
    <ul class='unsat'>
%%   for unsat_person in unsatisfied_requests
      <li>{{ unsat_person.name }} <span>{{ unsat_person.data.excuse }}</span></li>
%%   endfor
    </ul>
%% endif

  </body>
</html>